.container {
  height: 300px;
  /* background-color: red; */
  animation: rigth-left 0.7s ease-in-out;
  margin-top: 4em;
}

.image {
  height: 250px;
}

@keyframes rigth-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
