.container {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: rigth-left 0.4s ease-in-out;
  height: 25vh;
  background: linear-gradient(to right, #f88643, #e03570 ) ;
  border-radius: 1.2em ;
  padding: 1em;
}

@keyframes rigth-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  padding: 0.2em;
}

a:hover {
  color: darkred;
}
