.container {
  width: 100vw;
  height: 65vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
} 

.image {
  height: 300px;
  width: 100%;
  object-fit: contain;
}

.flipCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 350px;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.3em;
  font-weight: 600;
  text-align: center;
  margin: 0;
	background-color: red;
	color: white;
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid coral;
  border-radius: 1rem;
}

.flipCardFront {
  color: coral;
}

.flipCardBack {
  background: linear-gradient(
    120deg,
    red 30%,
    red 88%,
    bisque 40%,
    rgb(255, 185, 160) 78%
  );
  color: white;
  transform: rotateY(180deg);
}

@media (min-width: 768px) {
  .container {
    height: 45vh;
  }
}

@media (min-width: 100px) {
  .container {
    height: 60vh;
  }
}
