.container {
  min-height: 10vh;
  background: red;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  border-radius: 0px 0px 5px 5px;
  border-radius: 0 0 0.3em 0.3em;
  overflow: hidden;
}

.nav {
	display: flex;
	width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2em;
}

.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 13%;
  color: #090909;
  width: 3.2em;
  height: 3.2em;
  border-radius: 0.5em;
  background: linear-gradient(to right, #f88643, #e03570 ) ;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 1px 1px 1px #ffffff, -3px -3px -4px #ffffff;
}

.menuButton:hover {
  border: 1px solid white;
}

.menuButton:active {
  color: #666;
/*   box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff; */
}
input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.menuButton span {
  width: 28px;
  height: 4px;
  background: white;
  border-radius: 100px;
  transition: 0.3s ease;
}

input[type="checkbox"]:checked + .menuButton .top {
  transform: translateY(290%) rotate(45deg);
  width: 40px;
}

input[type="checkbox"]:checked + .menuButton .bot {
  transform: translateY(-270%) rotate(-45deg);
  width: 40px;
  box-shadow: 0 0 10px #495057;
}

input[type="checkbox"]:checked + .menuButton .mid {
  transform: translateX(-20px);
  opacity: 0;
}






